@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background-color: white;
  color: black;
}

/* Dark mode styles */
html.dark {
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
td {
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #565656;
}
td:last-of-type{
  border: none;
}
.Toastify__toast{
  max-width: 320px;
  margin: 10px auto;
}
